body {
  background: #03506f
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 2px solid black;
  display: flex;
  background: #0a043c;
  max-height: 60px;
}

header h1 {
  margin: auto auto;
  text-align: center;
  color: #ffe3de;
}

header .options {
  display: flex;
  margin-top: 20px;
}

header .options .link {
  margin-right: 30px;
  font-size: 20px;
  color: #ffe3de;
}

header .icon-home {
  padding-left: 10px;
  padding-top: 10px;
}

header .icon-home:active {
  color: purple
}

main .content {
  background: rgba(163,221,203,0.4);
  width: 90%;
  margin: 20px 20px;
  min-width: 600px;
  border: 2px solid black;
  box-shadow: #0a043c;
}