.section {
  display: flex;
  flex-direction: column;
}
.section h3 {
  text-align: center;
  margin: 10px 0;
  border-bottom: 1px solid black;
}

.section table {
  margin: 20px 40px;
}

.section table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.section .new {
  background: rgb(103, 103, 238);
  margin-left: 20px;
  padding:3px 10px;
}
td {
  text-align: center;
}

input, label {
  width: 60%;
  margin: 3px auto;
}

fieldset button {
  background: green;
  width: 30%;
  margin: 0 auto;
  margin-top: 10px;
}
